*~
*.swp
.DS_Store
tmp/
npm-debug.log
yarn-error.log
.vscode/
.idea/
node_modules/
.dist/
coverage/
/package-lock.json

# Docusaurus

lib/core/metadata.js
lib/core/MetadataBlog.js

website/translated_docs
website/build/
website/yarn.lock
website/package-lock.json
website/node_modules
website/i18n/*
