*~
*.swp
.DS_Store
tmp/

.vscode/
.idea/

npm-debug.log
yarn-error.log
/package-lock.json
/yarn.lock
examples/*/package-lock.json
examples/*/yarn.lock

node_modules/

release/
coverage/

# Docusaurus

lib/core/metadata.js
lib/core/MetadataBlog.js

website/translated_docs
website/build/
website/yarn.lock
website/package-lock.json
website/node_modules
website/i18n/*
